:root {
  --header-color: #232f3e;
  --background-color: #f2f3f3;

  --primary: #ec7211;
  --primary-dark: #eb5f07;
  --link-color: #0073bb;

  --white-light: #fafafa;
  --white: white;

  --black: #16191f;
  --black-light: #545b64;
  --black-inactive: #aab7b8;

  --gray: #687078;
  --blue: #4053d6;
  --teal: #2e917c;
  --green: #438a26;
  --orange: #e4760d;
  --pink: #d62a6b;
  --red: #de2e34;
  --violet: #7646d3;

  --box-shadow-card: 0 1px 1px 0 rgba(0, 28, 36, 0.3), 1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    -1px 1px 1px 0 rgba(0, 28, 36, 0.15);

  --box-shadow-menu: 1px 1px 1px 0 rgba(0, 28, 36, 0.15);

  --border-color: #eaeded;
}
