:root {
  --header-color: #232f3e;
  --background-color: #f2f3f3;

  --primary: #ec7211;
  --primary-dark: #eb5f07;

  --white-light: #fafafa;
  --white: white;

  --black: #16191f;
  --black-light: #545b64;
  --black-inactive: #aab7b8;

  --gray: #687078;

  --blue: #0073bb;

  --box-shadow-card: 0 1px 1px 0 rgba(0, 28, 36, 0.3), 1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    -1px 1px 1px 0 rgba(0, 28, 36, 0.15);

  --box-shadow-menu: 1px 1px 1px 0 rgba(0, 28, 36, 0.15);

  --border-color: #eaeded;
}
